[class^='icon'] {
  display: inline;
}
button.dropdown-item {
  cursor: pointer;
}
.form-control[readonly] {
  background-color: transparent;
  opacity: 1;
}

.kep-login-facebook.metro {
  display: inline-block;
  color: rgb(255, 255, 255);
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  text-transform: initial;
}
.google-login-button {
  display: inline-block;
  background: rgb(209, 72, 54);
  color: rgb(255, 255, 255);
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 16px; font-weight: bold;
  font-family: Roboto;
  cursor: pointer;
}
